.contactsBlock {
    height: 100%;
    background-color: #ccb2b2;
}
.contactsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    background-color: #dc9853;
}
.contactInf {
    width: clamp(280px, 60vw, 700px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid;
}

.contactInf input {
    margin: 20px 0px;
    background-color: #f7f7f7;
}

.btn {
    width: 80px;
    margin-bottom: 20px;
    font-size: 20px;
}