.skillsBlock {
    box-sizing: border-box;
    height: 100%;
    background-color: aquamarine;
    overflow: hidden;
}
.skillsContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.title {
    padding: 10px 20px;
    text-align: center;
    /*background-color: #f7f7f7;*/
}
.skills {
    width: 100%;
    height: calc(100vh - 25vh);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: auto;
}
.skills::-webkit-scrollbar {
    width: 0;
}