.mainBlock {
    height: 100%;
    background-color: #ffd4f0;
}
.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.text {
    width: clamp(300px, 40vw, 800px);
    display: flex;
    flex-direction: column;
    align-items: start;
}
.text p {
    margin: 15px 0;
    font-size: clamp(16px, 2vw, 49px)
}
.name {
    font-size: clamp(25px, 3.5vw, 60px);
    font-weight: 600;
}
.photo {
    width: clamp(280px, 33vw, 500px);
    height: clamp(280px, 33vw, 500px);
    border-radius: 50%;
    background-image: url("../images/main-photo.jpg");
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 737px) {
    .mainContainer {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .text {
        align-items: center;
        margin-top: 50px;
    }
}