.project {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
}
.img {
    width: 280px;
    height: 350px;
    background-color: dimgray;
}

.name {
    background-color: #f7f7f7;
}
.description {
    background-color: #f7f7f7;
}