/*.footerBlock {*/
/*    min-height: 100vh;*/
/*    background-color: #9cc7ad;*/
/*}*/
.footerBlock {
    height: 100%;
    width: 100%;
    background-color: #9cc7ad;
}
.list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*.contacts {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    flex-wrap: wrap;*/
/*}*/
.contacts {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 4fr;
}
@media (max-width: 768px) {
    .contacts {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr 1fr;
        row-gap: clamp(8px, 2vw, 20px);
    }
    .contactsItem:nth-child(even) {
        justify-self: end;
    }
    .contactsItem:nth-child(2) {
        width: clamp(165px, 28vw, 174px);
    }
}
.contacts li {
    list-style: none;
}
.contacts li:hover {
    background-color: #9cc5ad;
}
.contacts a {
    text-decoration: none;
    color: black;
}
.contactsBody {
    /*padding: 5px 0;*/
    display: flex;
}
.contactsBody p {
    font-size: clamp(12px, 1.5vw, 20px);
}
.icon {
    width: clamp(25px, 4.5vw, 70px);
    display: flex;
    align-items: center;
}



